<%= form_for @user, html: {multipart: true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <li>
    <%= f.label :photo, "Photo" %>
    <%= f.file_field :photo %>
  <li>

  <%= f.label :delete_photo, "Remove photo" %>
  <%= f.check_box :delete_photo %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


